html {
  background: rgb(61, 188, 238);
  background-size: cover;
}
h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}
.container {
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  width: 31%;
  margin: auto;
  margin-top: 70px;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  /*box-shadow: 0 0 50px 1px #4b4444;*/
  height: max-content;
  padding: 30px 2px;
}
#inputfromuser input {
  border-radius: 5px;
  width: 400px;
  height: 70px;
  margin-bottom: 20px;
  border: 1px solid rgb(155, 132, 248);
  background-color: rgb(201, 231, 244);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: right;
}
.number button,
#enter button {
  width: 66px;
  height: 55px;
  border: none;
  border-radius: 8px;
  margin: 8px;
  font-family: 'Courier', monospace;
  font-size: 18px;
  /*box-shadow: 5px 5px 3px #593e9e77;*/
  background-color: rgb(201, 231, 244);
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  line-height: 10px;
}

#ENTER {
  background-color: rgb(19, 137, 184);
  width: 152px;
}
#division,
#mul,
#add,
#sub,
#mod,
#openbrac,
#closebrac,
#ans,
#del,
#clear,
#dot,
#abs,
#sqrt,
#modulus {
  background-color: rgb(61, 188, 238);
}
.number button:hover,
#equals button:hover,
#division:hover,
#mul:hover,
#add:hover,
#sub:hover,
#mod:hover,
#openbrac:hover,
#closebrac:hover,
#ans:hover,
#del:hover,
#clear:hover,
#dot:hover,
#abs:hover,
#sqrt:hover,
#modulus:hover {
  background-color: green;
  color: rgb(155, 132, 248);
  transition: 0.5s ease-out;
}
